@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  color: #000;
  background-color: #F2F2F2;
  height: 100%;
}

body {
  display: flex;
  width: 1200px;
  min-height: 100%;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 0 15px 0 #00000033;
}

header {
  position: relative;
  width: 1200px;
  min-height: 64px;
  font-weight: 700;
  z-index: 1;
}

.navigation {
  position: absolute;
  display: flex;
  width: 1060px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  display: flex;
  vertical-align: bottom;
  position: sticky;
  z-index: 1;
}

.logo[alt] {
  font-size: small;
}

.navigation li {
  list-style: none;
}

.navigation__list a {
  color: #000;
  text-decoration: none;
}

.navigation__left-menu {
  display: flex;
  align-items: flex-start;
  width: 509px;
}

.navigation__left-menu .navigation__list {
  display: flex;
  flex-wrap: wrap;
  width: 339px;
  line-height: 24px;
  margin: 0 0 0 28px;
  padding: 0;
}

.navigation__left-menu .navigation__link {
  display: flex;
  font-size: 20px;
  text-transform: capitalize;
  padding: 20px 16px;
  flex-direction: column;
  align-items: flex-start;
}

.navigation__item_main {
  width: 100px;
}

.navigation__link_current-main {
  position: relative;
}

.navigation__link_current-main:after {
  position: absolute;
  content: "";
  width: 68px;
  border-bottom: 2px solid #756257;
  bottom: -2%;
}

.navigation__item_description {
  width: 114px;
}

.navigation__item_hostel {
  width: 125px;
}

.right-menu-wrapper {
  display: flex;
  margin-left: auto;
  margin-bottom: 6px;
  align-items: baseline;
}

.navigation__right-menu {
  display: flex;
  flex-wrap: wrap;
  width: 268px;
  align-items: center;
  margin-top: 10px;
}

.navigation__right-menu .navigation__list {
  display: flex;
  width: 88px;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.navigation__right-menu .navigation__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation__right-menu .navigation__link {
  position: relative;
  min-width: 44px;
  box-sizing: border-box;
  padding: 22px 12px;
}

.navigation__icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 1px;
  fill: #000;
  margin: auto;
}

.navigation__link:hover,
.navigation__link:hover .navigation__icon {
  color: #756257;
  fill: #756257;
}

.navigation__link:active,
.navigation__link:active .navigation__icon {
  color: #594E49FF;
  fill: #594E49FF;
}

.navigation__icon_count {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 20px;
  bottom: 23px;
  border-radius: 50%;
  background-color: #7DB54F;
}

.navigation__icon_count:after {
  position: absolute;
  content: "12";
  text-align: center;
  left: 4px;
  bottom: 4px;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  color: #fff;
}

.navigation__button {
  display: flex;
  width: 160px;
  padding: 8px 25px;
  margin-left: 20px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: #756157;
  margin-bottom: 1px;
  cursor: pointer;
}

.navigation__button:hover {
  background-color: #615048;
}

.navigation__button:focus {
  background-color: #615048;
}

.navigation__button:active {
  background-color: #756157;
}

.navigation__button:disabled {
  background-color: #E5E5E5;
}

.navigation__wish-link {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
}

.navigation__button:active .navigation__wish-link {
  color: #9E9089;
}

.button {
  text-align: center;
  color: #fff;
  padding: 8px 50px;
  border: none;
  border-radius: 4px;
  background-color: #756157;
  text-transform: uppercase;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.hero {
  display: flex;
  flex-direction: column;
  padding-bottom: 21px;
  color: #000;
  background-color: #fff;
}

.hero__background-image {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 485px;
  background-color: #DCEAF3;
  background-image: url("../images/hero-background.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.hero__background-image::before {
  position: absolute;
  content: "";
  width: 458px;
  min-height: 352px;
  top: 51px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../images/welcome.svg");
  background-color: transparent;
  background-repeat: no-repeat;
}

.hero__background-image::after {
  position: absolute;
  content: "";
  width: 100%;
  min-height: 57px;
  top: 428px;
  background-repeat: no-repeat;
  background-color: transparent;
  background-image: url("../images/divider.svg");
}

.hero__accent {
  display: block;
  width: 620px;
  margin: 69px auto 0;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 700;
}

.hero__description {
  width: 651px;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 69px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advantages {
  display: flex;
  flex-direction: column;
}

.advantages li {
  list-style: none;
}

.advantages__text-style {
  display: flex;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
}

.real-city__list {
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.real-city__container {
  display: flex;
  width: 400px;
  box-sizing: border-box;
  padding: 102px 85px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 29px;
}

.real-city__line {
  width: 60px;
  height: 2px;
}

.real-city__line_white {
  background-color: #FFFFFF4C;
}

.real-city__line_grey {
  background-color: #0000004C;
}

.advantages__accent {
  display: flex;
  flex-wrap: wrap;
  width: 175px;
  margin: 1px auto 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  justify-content: center;
  text-transform: uppercase;
}

.advantages__description {
  display: flex;
  width: 230px;
  margin: 1px auto 0;
  flex-wrap: wrap;
  text-align: center;
  align-self: stretch;
}

.real-city-picture {
  width: 800px;
  height: 385px;
  background-color: #82b3d3;
  background-image: url("../images/real-city.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.advantages-list {
  display: flex;
  text-align: center;
  background-color: #F0F6FA;
}

.advantages-list__list {
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.advantages-list__item {
  display: flex;
  width: 400px;
  height: 385px;
}

.advantages-list__container {
  display: flex;
  width: 230px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 102px 85px;
  gap: 29px;
}

.advantages-list__item_background {
  background-color: #E6F0F6;
}

.advantages-bridge__list {
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.advantages-bridge__container {
  display: flex;
  width: 400px;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  padding: 102px 85px;
  gap: 29px;
}

.advantages-bridge__picture {
  display: block;
  width: 800px;
  height: 385px;
  background-color: #82b3d3;
  background-image: url("../images/advantages-nature.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.services {
  display: flex;
  flex-direction: column;
  color: #000;
  background-color: #fff;
}

.services-move {
  display: flex;
  flex-direction: column;
  margin: 64px auto;
}

.services-move__subheading {
  width: 505px;
  font-size: 30px;
  line-height: 36px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
}

.services-move__advantages {
  margin: 20px 0 0;
  text-align: center;
  font-size: 22px;
  line-height: 26px;
}

.services__list {
  display: flex;
  text-align: center;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  background-color: #83B3D31E;
}

.services__item {
  display: flex;
  width: 400px;
  box-sizing: border-box;
  padding: 80px 85px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services__icon-style {
  position: relative;
  bottom: 1px;
  left: 1px;
  width: 75px;
  height: 76px;
  margin-bottom: 29px;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.services__hostel-icon {
  background-image: url("../images/hostel.svg");
}

.services__food-icon {
  background-image: url("../images/food.svg");
}

.services__souvenir-icon {
  left: 0;
  bottom: 2px;
  background-image: url("../images/souvenir.svg");
}

.services__subheading {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 0 29px;
  width: 230px;
  bottom: 1px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.services__description {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0;
  width: 230px;
  bottom: 1px;
  font-size: 18px;
  line-height: 21px;
  white-space: pre-wrap;
}

li:nth-child(2) .services__description {
  margin-left: 2px;
}

.search-hotel {
  display: flex;
}

.search-hotel__container {
  display: flex;
  width: 592px;
  padding: 96px 304px;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  color: #000;
}

.search-hotel__accent {
  position: relative;
  display: flex;
  width: 297px;
  margin: 0 auto;
  left: 1px;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.search-hotel__description {
  width: 592px;
  margin: 20px auto 54px;
  text-align: center;
  font-size: 22px;
  line-height: 26px;
}

.services__item_background {
  background-color: #fff;
}

.search-hotel__button {
  width: 376px;
  margin: 0 auto;
  padding: 8px 50px;
  border-radius: 4px;
  background-color: #756157;
  cursor: pointer;
}

.search-hotel__button:hover {
  background-color: #615048;
}

.search-hotel__button:focus {
  background-color: #615048;
}

.search-hotel__button:active {
  background-color: #756157;
}

.search-hotel__button:disabled {
  background-color: #E5E5E5;
}

.text-style__button {
  display: flex;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  border: none;
  justify-content: center;
  text-transform: uppercase;
}

.text-style__button:active {
  color: #9E9089;
}

.subscribe {
  width: 1200px;
  height: 415px;
  color: #fff;
  background-color: #82B3D3;
  background-image: url("../images/subscribe.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.subscribe__container {
  width: 684px;
  display: flex;
  padding: 96px 258px 104px 258px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subscribe__subheading {
  width: 404px;
  margin: 0 auto;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe__description {
  display: flex;
  width: 475px;
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  margin: 20px 0 55px 2px;
}

.subscribe__email {
  display: flex;
  align-items: center;
}

.subscribe__email_input {
  position: relative;
  display: flex;
  width: 412px;
  height: 28px;
  padding: 12px 20px;
  border-radius: 4px 0 0 4px;
  border: 0;
  background-color: #F2F2F2;
}

.subscribe__email_input-style {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000;
}

.subscribe__email_input::placeholder {
  position: absolute;
  top: 15px;
}

.subscribe__email:hover .subscribe__email_input {
  outline: 3px solid #83B3D3;
  background-color: #E6E6E6;
}

.subscribe__email_input:focus {
  outline: 3px solid #83B3D3;
  background-color: #E6E6E6;
}

.subscribe__button {
  padding: 8px 50px;
  background-color: #82B3D3;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.subscribe__button:hover {
  background-color: #68A2CA;
}

.subscribe__button:focus {
  background-color: #68A2CA;
}

.subscribe__button:active {
  background-color: #82B3D3;
}

.subscribe__button:disabled {
  background-color: #E5E5E5;
}

.subscribe__email .text-style__button:active {
  color: #A7CAE0;
}

footer {
  display: flex;
  padding: 40px 70px 30px 70px;
  color: #000;
  background-color: #fff;
}

.footer__container {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.social-network__list {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  min-width: 142px;
  min-height: 40px;
  bottom: 1px;
  align-items: center;
  margin-right: auto;
}


.social-network__item {
  position: relative;
  display: flex;
  top: 2px;
  left: 1px;
  padding: 10px 10px;
  flex-direction: column;
  align-items: center;
  flex: 1 0 0;
}

.social-network ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-network__icon {
  fill: #83B3D3;
}

.social-network__icon:hover,
.social-network__icon:focus {
  fill: #68A2CA;
}

.social-network__icon:active {
  fill: #68A2CA4D;
}

.contact-phone {
  display: flex;
  width: 720px;
  padding: 5px 194px 5px 195px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.contact-phone a {
  color: #000;
  text-decoration: none;
}

.contact-phone a:hover {
  color: #756157;
}

.contact-phone a:focus {
  color: #756157;
}

.contact-phone a:active {
  color: #7561574D;
}

.contact-phone__link {
  position: relative;
  width: 331px;
  left: 1px;
  font-size: 40px;
  line-height: 40px;
}

.academy_logo {
  position: relative;
  top: 1px;
  fill: #000;
}

.academy_logo:hover {
  fill: #756157;
}

.academy__link:focus .academy_logo {
  fill: #756157;
}

.academy__link:active .academy_logo {
  fill: #7561574D;
}

.navigation__link_current-hostel {
  position: relative;
}

.navigation__link_current-hostel:after {
  position: absolute;
  content: "";
  width: 93px;
  border-bottom: 2px solid #756257;
  bottom: -2%;
}

.filter_container {
  display: flex;
  width: 1060px;
  padding: 35px 70px 70px 70px;
  flex-direction: column;
  color: #fff;
  background-color: #DCEAF3;
  background-image: url("../images/filter-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.filter-heading {
  display: flex;
  flex-direction: column;
}

.filter-heading__subheading {
  width: 494px;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  margin: 0 0 8px;
}

.filter_container ul {
  list-style-type: none;
}

.filter-heading__breadcrumbs_list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 39px;
  padding: 0;
}

.filter-heading__breadcrumbs_item {
  position: relative;
  margin-right: 28px;
}

.filter-heading__breadcrumbs_item::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 11px;
  top: 5px;
  right: -18px;
  background-image: url("../images/icons/white-arrow-next.svg");
  background-color: transparent;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.filter-heading__breadcrumbs_item:last-child::after {
  content: none;
}

.filter-heading__breadcrumbs_link {
  position: relative;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  bottom: 1px;
}

.filter-heading__breadcrumbs_link:hover {
  color: #FFFFFF99;
}

.filter-heading__breadcrumbs_link:focus {
  color: #fff;
}

.filter-heading__breadcrumbs_link:active {
  color: #FFFFFF4D;
}

.filter-service {
  display: flex;
}

.filter-service__container {
  display: flex;
  width: 1060px;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.filter-service__left-container {
  display: flex;
  width: 371px;
  align-items: flex-start;
  box-sizing: border-box;
}

.filter-service__container fieldset {
  border: 0;
}

.filter__infrastructure {
  display: flex;
  margin-right: 70px;
}

.filter__infrastructure_conveniences {
  display: flex;
  margin: 0;
  padding: 0;
}

.filter__infrastructure_list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.filter__item:not(:last-child) {
  margin-bottom: 16px;
}

.filter__control_label {
  position: relative;
  display: flex;
  align-items: center;
}

.filter__control-mark {
  display: flex;
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 4px;
  border: none;
}

.filter__infrastructure_input[type="checkbox"]:checked + .filter__control-mark {
  background-color: #fff;
  background-image: url("../images/icons/control-checkbox.svg");
  background-repeat: no-repeat;
}

.filter__infrastructure_input {
  margin: 0;
}

.filter__housing_category {
  display: flex;
  margin: 0;
  padding: 0;
}

.filter__housing_list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.filter__housing_input {
  margin: 0;
}

.filter__housing_label .filter__control-mark {
  border-radius: 50%;
  margin-top: 1px;
  margin-right: 2px;
}

.filter__housing_input[type="radio"]:checked + .filter__control-mark {
  background-color: #fff;
  background-image: url("../images/icons/control-radio.svg");
  background-repeat: no-repeat;
}

.filter__text {
  font-size: 18px;
  line-height: 23px;
  margin-left: 36px;
}

.filter__label:hover .filter__control-mark {
  opacity: 0.6;
}

.filter__text:hover {
  opacity: 0.6;
}

.filter__input:focus + .filter__control-mark {
  outline: 3px solid #83B3D3;
}

.filter__label:active .filter__control-mark {
  opacity: 0.3;
}

.filter__text:active {
  opacity: 0.3;
}

.legend__heading {
  width: 151px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  padding: 0;
  margin-bottom: 32px;
  text-transform: capitalize;
}

.filter-service__right-container {
  display: flex;
  width: 549px;
  justify-content: flex-end;
  align-items: flex-end;
  margin-left: auto;
}

.filter__cost {
  display: flex;
  width: 288px;
  margin-right: auto;
}

.filter__cost_size {
  display: flex;
  margin: 0;
  padding: 0;
}

.filter__cost_list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.filter__cost_label {
  position: relative;
}

.filter__cost_input {
  width: 143px;
  box-sizing: border-box;
  padding: 13px 40px 11px 21px;
  color: #000;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.filter__cost_input-from {
  display: flex;
  border: none;
  border-radius: 4px 0 0 4px;
}

.filter__cost_input::placeholder {
  color: #000;
}

.filter__cost_text {
  position: absolute;
  top: 13px;
  right: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

.filter__cost_text-style {
  color: #000;
  opacity: 0.6;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.filter__cost_input-before {
  display: flex;
  border: none;
  padding-right: 43px;
  border-radius: 0 4px 4px 0;
}

.filter__cost_input[type="number"]::-webkit-outer-spin-button,
.filter__cost_input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.filter__cost_input:hover {
  opacity: 0.6;
}

.filter__cost_input:focus {
  outline: 3px solid #83B3D3;
}

.filter__cost_range-scale {
  position: relative;
  width: 287px;
  height: 4px;
  background-color: #5F686C;
  margin-top: 44px;
  margin-bottom: 8px;
}

.filter__cost_range-bar {
  position: absolute;
  height: 4px;
  background-color: #fff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 6px;
  background-color: #fff;
}

.range-toggle:hover {
  background-color: #E6E6E6;
}

.range-toggle:active {
  background-color: #939292;
}

.range-toggle:focus {
  outline: 3px solid #83B3D3;
}

.toggle-min {
  top: -8px;
  left: 0;
  margin-top: auto;
  margin-left: auto;
}

.toggle-max {
  top: -8px;
  right: 0;
  margin-top: auto;
  margin-right: auto;
}

.filter__button_search {
  display: flex;
  width: 191px;
}

.filter__button_item {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.filter__button {
  display: flex;
  width: 191px;
  padding: 8px 50px;
  border-radius: 4px;
  border-style: none;
  justify-content: center;
  align-items: center;

  font-family: "PT Sans", "Arial", sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}

.filter__button_apply {
  margin-bottom: 32px;
  background-color: #82B3D3;
}

.filter__button_apply:hover {
  color: #fff;
  background-color: #68A2CA;
}

.filter__button_apply:focus {
  color: #fff;
  background-color: #68A2CA;
}

.filter__button_apply:active {
  color: #A7CAE0;
  background-color: #82B3D3;
}

.filter__button_apply:disabled {
  color: #fff;
  background-color: #E5E5E5;
}

.filter__button_reset {
  background-color: #007DD700;
}

.filter__button_reset:hover {
  color: #C9C9CA;
}

.filter__button_reset:focus {
  outline: 3px solid #83B3D3;
  color: #fff;
}

.filter__button_reset:active {
  color: #FFFFFF4D;
}

.filter__button_reset:disabled {
  color: #FFF;
  opacity: 0.1;
}

.catalog {
  display: flex;
  width: 1060px;
  padding: 50px 70px 60px 70px;
  flex-direction: column;
  background-color: #fff;
}

.catalog__sorting-container {
  display: flex;
  width: 1060px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  margin-bottom: 40px;
}

.catalog-search {
  margin-right: auto;
}

.catalog__subheading {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  margin: 0;
  text-transform: uppercase;
}

.catalog__sorting_select {
  display: flex;
  width: 292px;
  margin-right: auto;
  padding: 11px 35px 11px 18px;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
  appearance: none;

  background-color: transparent;
  background-image: url("../images/icons/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: center right 13px;
}

.catalog__sorting_select-style {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.catalog__sorting_select:hover {
  border: 2px solid #68A2CA;
}

.catalog__sorting_select:disabled {
  opacity: 0.4;
}

.catalog__visual_list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 0 0 70px;
  padding: 0;
  gap: 8px;
}

.catalog__visual_item {
  list-style-type: none;
}

.catalog__button {
  width: 48px;
  height: 48px;
  padding: 14px 12px;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
  background-color: transparent;
}

.catalog__button:hover {
  outline: 2px solid #000;
  outline-offset: -2px;
  border: none;
}

.catalog__button:focus {
  outline: 2px solid #68A2CA;
  outline-offset: -2px;
  border: none;
}

.catalog__button:active {
  outline: 2px solid #000;
  outline-offset: -2px;
  border: none;
}

.catalog__button_icon {
  position: relative;
  top: 1px;
}

.catalog__list {
  display: grid;
  width: 1060px;
  grid-template-columns: repeat(3, 340px);
  margin: 0;
  padding: 0;
  list-style: none;
  align-self: stretch;
  gap: 20px;
}

.catalog__item {
  display: flex;
  width: 340px;
  padding: 20px;
  box-sizing: border-box;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  list-style-type: none;
  border-radius: 4px;
  border: 1px solid #E6E6E6;
}

.catalog__images_fit {
  position: relative;
  object-fit: contain;
  right: 1px;
}

.catalog__name-hotel {
  position: relative;
  width: 300px;
  top: 1px;
  right: 1px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin: 0;
}

.catalog__name-hotel_green-tree {
  position: relative;
  top: 0;
}

.catalog__description_green-tree {
  position: relative;
  right: 1px;
  bottom: 1px;
}

.catalog__action_item_green-tree {
  position: relative;
  bottom: 1px;
}

.catalog__description_list {
  display: flex;
  width: 300px;
  justify-content: space-between;
  align-self: stretch;
  margin: 0;
  padding: 0;
}

.catalog__description {
  display: flex;
  width: 140px;
  color: #333;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  padding: 0;
}

.catalog__action_list {
  display: flex;
  width: 300px;
  margin: 0;
  padding: 0;
  gap: 20px;
}

.catalog__action_item {
  position: relative;
  display: flex;
  margin: 0;
  padding: 0;
  right: 1px;
}

.catalog__price {
  display: flex;
  width: 140px;
  justify-content: end;
  font-weight: 400;
  margin-left: auto;
}

.catalog__action_text {
  font-family: "PT Sans", "Arial", sans-serif;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
}

.catalog__action_link-button {
  display: flex;
  width: 40px;
  height: 20px;
  color: #fff;
  background-color: #756157;
  justify-content: center;
  padding: 8px 50px;
  border-radius: 4px;
}

.catalog__action_link-button:hover {
  background-color: #615048;
}

.catalog__action_link-button:focus {
  background-color: #615048;
}

.catalog__action_link-button:active {
  color: #FFFFFF4D;
  background-color: #756157;
}

.catalog__action_link-button:disabled {
  background-color: #E5E5E5;
}

.catalog__action_button {
  width: 140px;
  height: 36px;
  color: #fff;
  background-color: #82B3D3;
  border-radius: 4px;
  border: none;
}

.catalog__action_button:hover {
  color: #fff;
  background-color: #68A2CA;
}

.catalog__action_button:focus {
  color: #fff;
  background-color: #68A2CA;
}

.catalog__action_button:active {
  color: #A7CAE0;
  background-color: #82B3D3;
}

.catalog__action_button:disabled {
  color: #fff;
  background-color: #E5E5E5;
}

.catalog__action_button-selected {
  background-color: #7DB54F;
}

.catalog__action_button-selected:hover {
  background-color: #6C9E42;
}

.catalog__action_button-selected:focus {
  background-color: #6C9E42;
}

.catalog__action_button-selected:active {
  color: #FFFFFF4D;
  background-color: #7DB54F;
}

.catalog__action_button:disabled {
  color: #fff;
  background-color: #E5E5E5;
}

.catalog__rating_list {
  display: flex;
  width: 300px;
  margin: 0;
  padding: 0;
  gap: 20px;
  list-style-type: none;
}

.catalog__rating_item {
  display: flex;
  position: relative;
  width: 140px;
  top: 1px;
}

.catalog__rating_item_green-tree {
  position: relative;
  top: 0;
}

.catalog__rating_item-star {
  display: block;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center right 1px;
  margin-bottom: 2px;
}

.catalog__item:nth-child(1) .catalog__rating_item-star {
  background-image: url("../images/icons/four-star.svg");
}

.catalog__item:nth-child(2) .catalog__rating_item-star {
  background-image: url("../images/icons/four-star.svg");
}

.catalog__item:nth-child(3) .catalog__rating_item-star {
  background-image: url("../images/icons/three-stars.svg");
}

.catalog__item:nth-child(4) .catalog__rating_item-star {
  background-image: url("../images/icons/two-stars.svg");
}

.catalog__rating {
  display: flex;
  width: 140px;
  justify-content: center;
  border-radius: 4px;
  padding: 8px 22px;
  box-sizing: border-box;
  background-color: #F2F2F2;
}

.rating__count {
  color: #333;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  width: 95px;
}

.rating__count_desert-quail {
  position: relative;
  top: 0;
}

.divider-line {
  display: flex;
  width: 1060px;
  height: 1px;
  margin-top: 39px;
  margin-bottom: 39px;
  background-color: #E6E6E6;
}

.pagination__list {
  display: flex;
  width: 1060px;
  margin: 0;
  padding: 0;
  align-items: center;
  gap: 8px;
  list-style-type: none;
}

.pagination__link {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  color: #fff;
  background-color: #82B3D3;
  text-decoration: none;
}

.pagination__link:hover {
  background-color: #68A2CA;
}

.pagination__link:focus {
  background-color: #68A2CA;
}

.pagination__link:active {
  color: #FFFFFF4D;
  background-color: #82B3D3;
}

.pagination__link_current {
  background-color: #F2F2F2;
}

.pagination__link_text-current {
  color: #000;
}

.pagination__link_current:hover,
.pagination__link_current:focus,
.pagination__link_current:active {
  background-color: #F2F2F2;
}

.pagination-link-other {
  color: #000;
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  background-color: #007DD700;
}

.pagination-link-other:hover,
.pagination-link-other:focus,
.pagination-link-other:active {
  color: #000;
  background-color: #007DD700;
}

.pagination__link_text {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe-catalog {
  width: 1200px;
  height: 415px;
  background-color: #fff;
}

.modal {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.80);
}

.modal__search {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  box-sizing: border-box;
  border-radius: 30px;
  background: #FFF;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
}

.modal__search-hostel {
  width: 717px;
  margin: auto;
}

.modal__search_closed {
  position: absolute;
  right: 52px;
  top: 64px;
  width: 52px;
  height: 52px;
  border: none;
  border-radius: 50%;
  padding: 0;
  background-color: #F2F2F2;
}

.modal__search_closed:hover {
  background-color: #E6E6E6;
}

.modal__search_closed:focus {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.modal__search_closed:active {
  outline: none;
  fill: #A1A1A1;
  background-color: #F2F2F2;
}

.modal__search_closed-icon {
  position: absolute;
  top: 20px;
  right: 18px;
}

.modal__search_heading {
  width: 413px;
  margin: 0 auto 64px 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.modal__search_list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  flex-wrap: wrap;
}

.modal__search_item {
  display: flex;
  width: 577px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.modal__search_item:not(:last-child) {
  margin-bottom: 23px;
}

.modal__search_text-style {
  display: flex;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  flex-direction: column;
  justify-content: center;
}

.modal__search_arrival-date {
  width: 113px;
}

.modal__search_label {
  display: flex;
  width: 440px;
  flex-direction: column;
  align-items: flex-start;
}

.modal__search_field {
  display: flex;
  padding: 13px 40px 11px 20px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 4px;
  color: #000;
  border: none;
  background-color: #F2F2F2;
  background-image: url("../images/icons/calendar-icon.svg");
  background-repeat: no-repeat;
  background-position-x: 402px;
  background-position-y: 16px;
}

.modal__search_field-style {
  display: flex;
  font-family: "PT Sans", "Arial", sans-serif;
  min-width: 125px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.modal__search_field:hover {
  background-color: #E6E6E6;
}

.modal__search_field:focus {
  outline: 3px solid #83B3D3;
  border: none;
}

.modal__search_field::placeholder {
  color: #000;
  opacity: 0.6;
}

.modal__search_field:not(:empty) {
  color: #000;
}

.modal__search_messages-style {
  display: flex;
  font-size: 16px;
  line-height: 21px;
  margin: 4px auto 0 137px;
  justify-content: center;
}

.arrival-date__messages {
  width: 320px;
  color: #FF5757;
}

.departure-date__messages {
  width: 371px;
}

.modal__search_departure-date {
  width: 119px;
}

.adults {
  display: flex;
  width: 247px;
}

.modal__search_text-adults {
  margin-right: 46px;
}

.button-container {
  display: flex;
  width: 111px;
  justify-content: space-around;
  border-radius: 4px;
  background: #F2F2F2;
}

.person__button {
  display: flex;
  border: none;
  margin: 0;
  padding: 14px 10px;
  background-color: transparent;
}

.person__button_block {
  display: flex;
  align-items: center;
  width: 20px;
  height: 20px;
}

.person__button .person__button_icon {
  fill: #756157;
  opacity: 0.3;
}

.person__button:hover .person__button_icon {
  fill: #000;
  opacity: 1;
}

.person__button:focus {
  fill: #000;
  opacity: 1;
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.person__button:active {
  fill: #756157;
  opacity: 0.3;
  outline: none;
}

.person__label {
  display: flex;
}

.person__input {
  display: flex;
  width: 31px;
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
}

.person__input[type="number"] {
  font-family: "PT Sans", "Arial", sans-serif;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}

.person__input[type="number"]::-webkit-outer-spin-button,
.person__input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.adults__icon-minus {
  position: relative;
  left: 3px;
}

.adults__input {
  position: relative;
  top: 1px;
}

.adults__icon-plus {
  position: relative;
  left: 3px;
}

.children {
  display: flex;
  width: 242px;
}

.modal__search_text-children {
  margin-right: 84px;
}

.tooltip-children {
  position: absolute;
  margin-top: 11px;
  margin-left: 59px;
}

.tooltip-children__button {
  display: block;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.tooltip-children__icon {
  fill: #83B3D3;
}

.tooltip-children__icon:hover {
  fill: #3898d9;
}

.tooltip-children__text {
  position: absolute;
  width: 216px;
  top: 100%;
  padding: 20px 18px 23px 22px;
  margin-top: 12px;
  right: 50%;
  transform: translateX(50%);
  color: #fff;
  border-radius: 10px;
  background-color: #333;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.30);
  display: none;
}

.tooltip-children__button:hover .tooltip-children__text {
  display: block;
}

.tooltip-children__button:focus .tooltip-children__text {
  display: block;
}

.tooltip-children__text::after {
  position: absolute;
  content: "";
  width: 19px;
  height: 9px;
  background-color: transparent;
  background-image: url("../images/icons/triangle.svg");
  bottom: 100%;
  left: 0;
  right: 2px;
  margin-left: auto;
  margin-right: auto;
}

.tooltip-children__text-style {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-weight: 400;
  line-height: 20px;
}

.children__icon-minus {
  position: relative;
  left: 2px;
}

.children__input {
  position: relative;
  top: 1px;
  right: 1px;
}

.children__icon-plus {
  position: relative;
  left: 2px;
}

.modal__search_button {
  display: block;
  margin: 25px 0 0;
  padding: 0;
}

.modal__search_button-style {
  display: flex;
  width: 577px;
  padding: 18px 77px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
  background-color: #83B3D3;
}

.modal__search_button-style:hover,
.modal__search_button-style:focus {
  background-color: #68A2CA;
  border: none;
  outline: none;
}

.modal__search_button-text {
  font-family: "PT Sans", "Arial", sans-serif;
  color: #FFF;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

.modal__search_button-style:active .modal__search_button-text {
  color: #FFF;
  opacity: 0.3;
}

.modal {
  display: none;
}
