@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  color: #000;
  background-color: #fff;
}

header {
  background-color: #fff;
  font-weight: 700;
}

.navigation li {
  list-style: none;
}

.navigation__list a {
  color: #000;
  text-decoration: none;
}

.text-style-menu {
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.navigation__search-icon {
  width: 18px;
  height: 18px;
  background-image: url("../images/icons/search.svg");
  background-repeat: no-repeat;
}

.navigation__favorites-icon {
  width: 18px;
  height: 17px;
  background-image: url("../images/icons/favorites.svg");
  background-repeat: no-repeat;
}

.button {
  text-align: center;
  color: #fff;
  padding: 8px 50px;
  border: none;
  border-radius: 4px;
  background: #756157;
  text-transform: uppercase;
}

.navigation__button-style {
  width: 160px;
  font-size: 16px;
  line-height: 20px;
}

.hero__background-image {
  width: 1200px;
  height: 485px;
  background-color: #bbc6ce;
  background-image: url("../images/hero-background.jpg");
  background-repeat: no-repeat;
}

.hero__divider {
  width: 1200px;
  height: 57px;
  background-image: url("../images/divider.svg");
  background-repeat: no-repeat;
}

.main__accent-style {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.main__description-style {
  text-align: center;
  font-size: 22px;
  line-height: 26px;
}

.advantages li {
  list-style: none;
}

.advantages__text-style {
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
}

.advantages__accent-style {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages__description-style {
  font-size: 18px;
  line-height: 21px;
}

.advantages-list {
  text-align: center;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-list__item_background {
  background-color: rgba(131, 179, 211, 0.20);
}

.services__list {
  text-align: center;
  list-style: none;
  background-color: rgba(131, 179, 211, 0.12);
}

.services__subheading {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.services__description {
  font-size: 18px;
  line-height: 21px;
}

.services__item_background {
  background-color: #fff;
}

.text-style__button {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
}

.subscribe {
  width: 1200px;
  height: 415px;
  color: #fff;
  background-color: #82B3D3;
  background-image: url("../images/subscribe.jpg");
  background-repeat: no-repeat;
}

.subscribe__email .subscribe__email_input {
  width: 412px;
  height: 28px;
  padding: 12px 20px;
  border-radius: 4px 0 0 4px;
  border: 0;
  background-color: #F2F2F2;
}

.subscribe__email .button {
  background-color: #82B3D3;
  border-radius: 0 4px 4px 0;
}

.social-network ul {
  list-style: none;
}

.social-network__vk-icon {
  width: 24px;
  height: 14px;
  background-image: url("../images/icons/vk.svg");
  background-repeat: no-repeat;
}

.social-network__telegram-icon {
  width: 18px;
  height: 16px;
  background-image: url("../images/icons/telegram.svg");
  background-repeat: no-repeat;
}

.social-network__youtube-icon {
  width: 22px;
  height: 17px;
  background-image: url("../images/icons/youtube.svg");
  background-repeat: no-repeat;
}

.contact-phone a {
  color: #000;
  text-decoration: none;
}

.contact-phone_number {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
}

.academy_logo {
  width: 115px;
  height: 31px;
  background-image: url("../images/logos/logo-htmlacademy.svg");
  background-repeat: no-repeat;
}

.filter {
  width: 1200px;
  display: flex;
  padding: 35px 70px 70px 70px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  color: #fff;
  background-color: #737171;
  background-image: url("../images/filter-background.jpg");
  background-repeat: no-repeat;
}

.filter__service fieldset {
  border: 0;
}

.filter__subheading {
  width: 494px;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  margin: 0;
}

.filter ul {
  list-style: none;
}

.filter__breadcrumbs_icon-home {
  width: 12px;
  height: 12px;
  background-image: url("../images/icons/home-breadcrumbs.svg");
  background-repeat: no-repeat;
}

.filter__breadcrumbs_current {
  display: flex;
  width: 73px;
  height: 21px;
  justify-content: center;
  align-items: center;
}

.legend__heading {
  width: 151px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

.filter__text-style {
  font-size: 18px;
  line-height: 23px;
}

.filter-cost-input {
  width: 143px;
  height: 48px;
  display: flex;
  align-items: flex-start;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.filter__cost_list .filter__cost_input {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.filter__button .button {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  border-radius: 4px;
  text-transform: uppercase;
}

.filter__button_apply {
  background-color: #82B3D3;
}

.filter__button_reset {
  background-color: #007DD700;
}

.catalog__subheading {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.catalog__sorting_select {
  width: 292px;
  padding: 14px 20px;
  border-radius: 4px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

.catalog__visual ul {
  list-style: none;
}

.catalog__button {
  width: 48px;
  height: 48px;
  padding: 14px 12px;
  border-radius: 4px;
  border: none;
}

.catalog__button_tile {
  background-image: url("../images/icons/tile.svg");
  background-repeat: no-repeat;
}

.catalog__button_single {
  background-image: url("../images/icons/single.svg");
  background-repeat: no-repeat;
}

.catalog__button_checklist {
  background-image: url("../images/icons/checklist.svg");
  background-repeat: no-repeat;
}

.catalog__list {
  list-style: none;
}

.catalog__name-hotel {
  width: 300px;
  font-size: 24px;
  line-height: 28px;
}

.catalog__description {
  width: 140px;
  color: #333;
  font-size: 18px;
  line-height: 21px;
}

.catalog__price {
  font-weight: 400;
}

.catalog__item ul {
  list-style: none;
}

.catalog__action_item {
  margin-bottom: 15px;
}

.catalog__action_list a {
  color: #000;
  text-decoration: none;
}

.catalog__action_link-button {
  display: flex;
  width: 40px;
  height: 20px;
  background-color: #756157;
  justify-content: center;
  padding: 8px 50px;
  border-radius: 4px;
}

.catalog__action_text {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}

.catalog__action_button {
  width: 140px;
  height: 36px;
  background-color: #82B3D3;
  border-radius: 4px;
  border: none;
}

.catalog__action_button-selected {
  background-color: #7DB54F;
}

.catalog__rating {
  width: 140px;
  height: 37px;
  text-align: center;
  border-radius: 4px;
  background-color: #F2F2F2;
  margin-bottom: 15px;
}

.rating__count {
  color: #333;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  width: 95px;
}

.pagination ul {
  list-style: none;
}

.pagination a {
  text-decoration: none;
}

.pagination__link {
  background-color: #82B3D3;
  display: flex;
  width: 60px;
  height: 36px;
  padding: 11px 0 13px 0;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 5px;
}

.pagination__link_current {
  background-color: #F2F2F2;
}

.pagination-link-other {
  background-color: #007DD700;
}

.pagination__link_text {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.pagination__link_text-current {
  color: #000;
}

.subscribe-catalog {
  width: 1200px;
  height: 415px;
  background-color: #fff;
}

